/* common */
body{
  margin:  0;
}

header{
  background: rgb(199, 247, 247);
}

img{
  vertical-align: bottom;
}

h1,
h2,
p{
  margin: 0;
}

.btn {
  display: block;
  width: 160px;
  background: #17e794;
  color: #fff;
  text-align: center;
  padding: 8px 0;
  border-radius: 4px;
  font-weight: bold;
  margin: 32px auto 0;
}
/* header */
header .container{
  width: 500px;
  margin: 0 auto;
  padding: 32px 0;
  display: flex;
  align-items: center;
}

header .container div + div{
  margin-left:32px;
}

header .icon{
  border-radius: 30px;
}

header h1{
  font-weight: normal;
  font-size: 24px;
}

header ul{
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

header ul li{
  margin-left: 8px;
}
/* main */
main .container{
  width: 400px;
  margin: 0 auto;
}

main h1{
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  padding: 60px 0;
}

main h2{
  font-weight: normal;
  font-size: 20px;
  text-align: center;
  margin-top: 16px;
}

main p{
  line-height: 1.8;
  margin-top: 16px;
  text-align: center;
}

main section + section{
  margin-top: 60px;
}


/* footer */
footer{
  padding: 60px 0;
  text-align: center;
  color: #aaa;
}